[*]
charset=utf-8
end_of_line=lf
trim_trailing_whitespace=true
insert_final_newline=true
indent_style=space
indent_size=4

# Microsoft .NET properties
csharp_new_line_before_catch=false
csharp_new_line_before_else=false
csharp_new_line_before_finally=false
csharp_new_line_before_members_in_object_initializers=false
csharp_new_line_before_open_brace=types,local_functions,methods
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
dotnet_naming_rule.private_constants_rule.severity=none
dotnet_naming_rule.private_constants_rule.style=all_upper_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_style.all_upper_style.capitalization=all_upper
dotnet_naming_style.all_upper_style.word_separator=_
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=false:suggestion
dotnet_style_qualification_for_field=false:suggestion
dotnet_style_qualification_for_method=false:suggestion
dotnet_style_qualification_for_property=false:suggestion
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# ReSharper properties
resharper_autodetect_indent_settings=true
resharper_blank_lines_after_block_statements=0
resharper_csharp_empty_block_style=together_same_line
resharper_csharp_naming_rule.enum_member=AA_BB, AaBb
resharper_csharp_wrap_before_comma=false
resharper_indent_preprocessor_if=usual_indent
resharper_indent_preprocessor_other=usual_indent
resharper_keep_existing_attribute_arrangement=true
resharper_keep_existing_linebreaks=false
resharper_place_accessorholder_attribute_on_same_line=false
resharper_place_field_attribute_on_same_line=false
resharper_use_indent_from_vs=false
resharper_wrap_array_initializer_style=chop_if_long
resharper_wrap_before_comma=false

# ReSharper inspection severities
resharper_access_to_static_member_via_derived_type_highlighting=none
resharper_arguments_style_anonymous_function_highlighting=none
resharper_arguments_style_literal_highlighting=none
resharper_arguments_style_named_expression_highlighting=none
resharper_arguments_style_other_highlighting=none
resharper_arguments_style_string_literal_highlighting=none
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_this_qualifier_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_check_namespace_highlighting=none
resharper_comment_typo_highlighting=none
resharper_convert_if_statement_to_conditional_ternary_expression_highlighting=none
resharper_convert_if_statement_to_null_coalescing_assignment_highlighting=hint
resharper_convert_if_statement_to_null_coalescing_expression_highlighting=none
resharper_convert_if_statement_to_return_statement_highlighting=none
resharper_convert_to_local_function_highlighting=none
resharper_empty_for_statement_highlighting=none
resharper_empty_general_catch_clause_highlighting=none
resharper_foreach_can_be_converted_to_query_using_another_get_enumerator_highlighting=none
resharper_foreach_can_be_partly_converted_to_query_using_another_get_enumerator_highlighting=none
resharper_identifier_typo_highlighting=none
resharper_inconsistent_naming_highlighting=none
resharper_inline_out_variable_declaration_highlighting=none
resharper_invert_if_highlighting=none
resharper_invocation_is_skipped_highlighting=none
resharper_join_null_check_with_usage_highlighting=none
resharper_local_variable_hides_member_highlighting=suggestion
resharper_loop_can_be_converted_to_query_highlighting=none
resharper_member_can_be_private_global_highlighting=none
resharper_parameter_only_used_for_precondition_check_local_highlighting=none
resharper_possible_multiple_enumeration_highlighting=none
resharper_redundant_argument_default_value_highlighting=none
resharper_redundant_base_qualifier_highlighting=warning
resharper_redundant_explicit_array_creation_highlighting=suggestion
resharper_redundant_type_arguments_of_method_highlighting=suggestion
resharper_suggest_var_or_type_built_in_types_highlighting=none
resharper_suggest_var_or_type_elsewhere_highlighting=none
resharper_suggest_var_or_type_simple_types_highlighting=none
resharper_use_index_from_end_expression_highlighting=none
resharper_use_null_propagation_highlighting=none
resharper_use_object_or_collection_initializer_highlighting=none
resharper_variable_hides_outer_variable_highlighting=hint
resharper_web_config_module_not_resolved_highlighting=warning
resharper_web_config_type_not_resolved_highlighting=warning
resharper_web_config_wrong_module_highlighting=warning

[{*.yaml,*.yml}]
indent_style=space
indent_size=2

[*.{appxmanifest,asax,ascx,aspx,build,cg,cginc,compute,cs,cshtml,dtd,hlsl,hlsli,hlslinc,master,nuspec,razor,resw,resx,shader,skin,usf,ush,vb,xaml,xamlx,xoml,xsd}]
tab_width=4
